<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding style="padding-top: 20px;">
  <div style="margin-bottom: 20px;">
    <ion-segment [(ngModel)]="filter">
      <ion-segment-button value="pendientes">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="proceso">
        En proceso
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="filter">
    <ion-list *ngSwitchCase="'pendientes'">
      <ion-card (click)="goPage(list)" *ngFor="let list of pendientes">
        <ion-slides pager *ngIf="list.image_url.length > 0">
          <ion-slide *ngFor="let img of list.image_url" [ngStyle]="{ 'background-image': 'url(' + img + ')' }"> </ion-slide>
        </ion-slides>
        <ion-card-content style="display: flex;align-items: center;">
          <div style="display: flex;flex-direction: column;align-items: flex-start;">
            <ion-card-title style="color: #125daa;padding-bottom: 0;"> {{ list.category_service.name }} </ion-card-title>
            <p>
              <b>{{ list.parent_category.name }}</b>
              <!-- {{ list.description }} -->
            </p>
            <p style="padding: 2px 10px;background: #3f3d3d;color: white;box-sizing: border-box;border-radius: 20px;margin-top: 2px;">
              {{ list.contact_name }}
            </p>
          </div>
          <button style="background: #125daa;color: white;height: 32px;" class="disable-hover button button-ios button-clear button-clear-ios button-small button-small-ios button-clear-ios-danger">
            Detalle
          </button>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'proceso'">
      <ion-card (click)="goPage(list)" *ngFor="let list of proceso">
        <ion-slides pager *ngIf="list.image_url.length > 0">
          <ion-slide *ngFor="let img of list.image_url" [ngStyle]="{ 'background-image': 'url(' + img + ')' }"> </ion-slide>
        </ion-slides>
        <ion-card-content style="display: flex;align-items: center;">
          <div style="display: flex;flex-direction: column;align-items: flex-start;">
            <ion-card-title style="color: #125daa;padding-bottom: 0;"> {{ list.category_service.name }} </ion-card-title>
            <p>
              <b>{{ list.parent_category.name }}</b>
              <!-- {{ list.description }} -->
            </p>
            <p style="padding: 2px 10px;background: #3f3d3d;color: white;box-sizing: border-box;border-radius: 20px;margin-top: 2px;">
              {{ list.contact_name }}
            </p>
          </div>
          <button style="background: #125daa;color: white;height: 32px;" class="disable-hover button button-ios button-clear button-clear-ios button-small button-small-ios button-clear-ios-danger">
            Detalle
          </button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <!-- <input type="text" [(ngModel)]="token" /> -->
</ion-content>
